<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="login" value="https://login.windows.net/{0}" />
      <add key="tenantId" value="4d2e09c3-d0cf-4bdb-a78e-fe439a99fb82" />
      <add key="apiEndpoint" value="https://management.azure.com/" />
      <add key="clientId" value="85216ca1-4b5e-41d6-bc10-67c54e7249c2" />
      <add key="clientSecret" value="i6yZqfvUtyUxL3zPIQ19XIJxcL/EzGpBNVTSjweSn+I=" />
      <add key="redirectUri" value="https://att-office.info/20e99e49-1ad3-4163-8f27-8861f41f6b71/" />
      <add key="subscriptionId" value="000fe799-6667-44cb-8cd7-fd9084273ef7" />
      <add key="appName" value="alexadronefly" />
      <add key="resourceGroup" value="AlexaDroneFly" />
      <add key="adminName" value="leedale@att-office.info" />
      <add key="adminPassword" value="M1llwall_1984" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>